.App {
  text-align: center;
}
.card{
  display: inline-block;
  width: 224px;
  height: auto;
  padding: 32px;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.freepik.com/free-vector/sky-background-pastel-paper-cut-design-vector_53876-144660.jpg?w=360");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* background-color: aqua; */
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

